body.dark {
    background-color: #151823;
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark a,
body.dark p {
    color: #fff;
}

body.dark select,
body.dark option {
    background-color: #151823;
    color: #fff;
}

body.dark hr {
    border-color: #fff;
}

body.dark .header-wrapper,
body.dark .main-wrapper,
body.dark .footer-wrapper {
    background-color: #151823;
}