:root{
    --black: #000;
    --white: #fff;
    --grey: #7A7A7A;
    --dark-grey: #7E7E7E;
    --light-grey: #D7D7D7;
    --shadow: #BFBFBF;
    --green: #039900;
    --red: #990000;
    --fild: #5ABB58;
    --montserrat: 'Montserrat Alternates', sans-serif;
    --inter: 'Inter', sans-serif;
}